body
{
    margin                  : 0;
    font-family             : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    width                   : 1920px;
    height                  : 1080px;
    background              : #F4F8FB;

    display                 : flex;
    justify-content         : center;
    align-items             : center;
}

.container
{
    width  : 100vw;
    height : 100vh;
}

.flex-center-col
{
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
}

.flex-center-row
{
    display         : flex;
    justify-content : center;
    align-items     : center;
}
